@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
